:root {
    --primaria: #0A84FF;
    --secundaria: #1C1C1E;
    --Destaque: #FFD60A;
    --fundo: #F2F2F7;
    --detalhe: #34C759;
}

* {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}